$color-black: #1C1D1F;
$color-medium: #8D9FB7;
$color-white: #FFFFFF;

$color-blue-dark: #004199;
$color-blue: #006CFE;
$color-blue-middle: #80B6FF;
$color-blue-light: #D5E7FF;
$color-blue-super-light: #EDF5FF;

$color-green: #01AA88;
$color-red: #FF0000;
$color-orange: #FFA200;
